.container{
    display:flex;
    justify-content: space-between;
    color: white;
    margin: 30px auto 50px;
    font-family: "Proxima-nova";
}

.menu{
    display: flex;
}
.menu_item{
    align-items: center;
    margin: 0px 30px;
    font-size: 14px;
}

.logo{
    background-image: url(../../image/Logo.png);
    width: 60px;
    height: 60px;
}
.login{
    margin-top: 8px;
}
.btn{
    background-color: #018ABE;
    width: 155px;
    height: 36px;
    font-size: 13px;
    border-radius: 3px;
    border: none;
    color: white;
}